/* Styles for screens below 770px */
@media only screen and (max-width: 770px) {
  .mailDiv {
    margin-top: 50px;
  }
  .mailButton {
    width: 90% !important;
  }
  .mailInput {
    display: flex;
    flex-direction: column;
  }
  .mailButtonsub {
    display: none;
  }
  .mailButtonAccess {
    display: block;
  }
}

/* Styles for screens above 770px */
@media only screen and (min-width: 771px) {
  .mailButtonAccess {
    display: none;
  }
  .mailDiv {
    margin-top: 200px;
  }
  .hrtag {
    display: none;
  }
  .mailButtonsub {
    display: block;
  }
}
