/* Styles for screens below 770px */
@media only screen and (max-width: 770px) {
  .sm-window {
    display: none;
  }
  .sm-mobile {
    display: block;
  }
}

/* Styles for screens above 770px */
@media only screen and (min-width: 771px) {
  .sm-mobile {
    display: none;
  }
  .sm-window {
    display: block;
  }
}
