/* Excel.css */

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .export-button {
    background-color: #4299e1;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .export-button:hover {
    background-color: #3182ce;
  }
  
  .loading {
    margin-left: 10%;
    font-weight: bold;
    color: black;
    margin-top: 5%;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .modal-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .password-input-container {
    position: relative;
  }
  
  .password-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 40px);
    padding-right: 40px;
  }
  
  .password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .verify-button {
    background-color: #4299e1;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .verify-button:hover {
    background-color: #3182ce;
  }
  