/* For desktop */
/* .desktop-landing {
  display: block;
} */

@media (max-width: 770px) {
  /* For mobile */
  .desktop-landing {
    display: none;
  }
}

/* For mobile */
.mobile-landing {
  display: none;
}

@media (max-width: 770px) {
  /* For mobile */
  .mobile-landing {
    display: block;
  }
}
/* Styles for screens below 770px */

@media only screen and (max-width: 770px) {
  .desktop-landing-main {
    margin-top: 0px;
  }
  .socialGaming {
    margin-top: -80px;
  }
  .img_emojistar,
  .img_helix2 {
    display: none;
  }
  .desktop-landing-box {
    height: 2450px;
  }
}
/* Styles for screens above 770px */

@media only screen and (min-width: 771px) {
  .desktop-landing-main {
    margin-top: -80px;
  }
  .img_emojistar,
  .img_helix2 {
    display: block;
  }
  .desktop-landing-box {
    height: 2200px;
  }
}
